{{!-- Contact Info --}}

<div class="row">

    <div class="col s12">

        <h1 class="center-align">
            DEVELOPERS
        </h1>

    </div>
</div>

<div class="row">

    <div class="col s3">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <div class="card-image">
                    <img height="250" src="../assets/images/pierce.jpg" alt="Pic of pierce's Lame Face">
                    <span class="card-title">Pierce</span>
                </div>
                <div class="card-content">
                    <p></p>
                </div>
                <div class="card-action">
                    <a href="https://github.com/Duck126">Github</a>
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Info</a>
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <p>PIERCE PIERCE PEIRCE PERICEEPRICCEPIERWPI FQSHAGJLAERJG</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col s3">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <div class="card-image">
                    <img height="250" src="../assets/images/duck.jpg" alt="Pic of Jon's Lame Face">
                    <span class="card-title">Jon</span>
                </div>
                <div class="card-content">
                    <p> </p>
                </div>
                <div class="card-action">
                    <a href="https://github.com/Duck126">Github</a>
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Info</a>

                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <p>Duck126Duck126Duck126Duck126Duck126Duck126Duck126Duck126Duck126</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col s3">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <div class="card-image">
                    <img height="250"  src="../assets/images/guy.png" alt="Pic of Guy's Lame Face">
                    <span class="card-title">Guy</span>
                </div>
                <div class="card-content">
                    <p> </p>
                </div>
                <div class="card-action">
                    <a href="https://github.com/GuyCPalmer">Github</a>
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Info</a>

                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <p>guyguyguyguyguyguyguyguyguyguy</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col s3">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <div class="card-image">
                    <img height="250" src="../assets/images/jwp.jpg" alt="Pic of Jenn's Lame Face">
                    <span class="card-title">Jenn</span>
                </div>
                <div class="card-content">
                    <p> </p>
                </div>
                <div class="card-action">
                    <a href="https://github.com/jwrenpenn">Github</a>
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Info</a>

                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <p>jwrenpennjwrenpennjwrenpennjwrenpennjwrenpennjwrenpenn</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-content">
    <p> </p>
</div>
<div class="card-action">
    <a href="https://github.com/nofunjohnny">Github</a>
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Info</a>

    <div id="modal1" class="modal">
        <div class="modal-content">
    <img height="250" src="../assets/images/johnnnofun.jpg" alt="nofunjohnny">
        </div>



<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function(){
        $('.modal').modal();
    });

</script>
