<h1>
    Company Sign-up.
</h1>

<div class="container">

    <div class="col-3"></div>

    <div class="col-6">
        <form class="newCompany">
            <div class="form-group">
                
                <label for="newCompany">Your Company Name: </label>
                <input type="text" id="newCompany" name="Company Name">

                <label for="coordinatorName">Event Coordinator Contact</label>
                <input type="text" id="coordinatorName" name="Coordinator Name">

                <label for="purchasing">Purchasing Contact</label>
                <input type="text" id="purchasing" name="Purchasing Contact">

                <label for="phone">Primary Phone Number</label>
                <input type="text" id="companyPhone" name="X-(XXX)XXX-XXXX">

                <label for="comEmail">Primary Email Address</label>
                <input type="text" id="comEmail" name="Email">

                {{!-- Not entirely Sure what should be going here --}}
                <label for="events_owned">Previous Events:</label>
                <input type="text" id="events_owned" name="Previous Events">

                <label for="invitations_sent">Invitations Sent</label>
                <input type="text" id="invitations_sent" name="Invitations Sent">

                {{input type="checkbox" name="Confirmed" id="confirmed"}}

                {{!-- need to add a photo input field --}}
            </div>
        </form>
    </div>

    <div class="col-3"></div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>