{{!-- Contact Info --}}

<div class="row">

    <div class="col s12">

        <h1 class="center-align">
            DEVELOPERS
        </h1>

    </div>
</div>

<div class="row">
<div class="col s1"></div>
    <div class="col s2">
        <div class="card">

            <div class="card-image waves-effect waves-block waves-light">
                <div class="card-image">
                    <a href="https://github.com/PierceMor">

                        <img height="250" src="../assets/images/pierce.jpg" alt="Pic of pierce's Lame Face">
                        <span class="card-title">Pierce</span>
                    </a>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light btn modal-trigger" href="#modalpierce">Info</a>
                </div>
            </div>
        </div>
    </div>

<div id="modalpierce" class="modal">
    <div class="modal-content">
<<<<<<< HEAD
        <p>
            Lucas ipsum dolor sit amet sio darpa veers dagobah latter tono
            logray wessell kitonak rahn. Needa naberrie porkins cabasshite.
            Biggs r4-p17 fel moff fel dexter finis. Organa tyranus leia doldur kit.
            Maarek mygeeto skywalker salacious. Aayla bossk -1b moff falleen md-5.
            Cb-99 cb-99 ebe bothan talortai. Bith typho kalee leia nagai hutt carnor. 
            Skywalker mygeeto teneniel skywalker dorvalla paploo massans. Cb-99 raynar 
            panaka raynar senesca polis ferroans deliah elrood. Calamari panaka kaminoan
            nass senex gotal moff nautolan.

            Mara ruurian vilim kathol dormé ahsoka. Aurra skywalker davin arcona. -lom nelvaanian 
            juvex caamasi ahsoka daala ric. Firmus sebulba biggs bith bith shimrra ikrit ponda.
            Bajic warrick haako max cody fosh moore. Joh frozian asajj fosh cato. Miraluka anakin
            fey'lya drall cade kor-uj nomi malastare jerjerrod. Voxyn glymphid ysanne shaak hutt 
            vurk. Cadavine bria ackbar sebulba besalisk cassio feeorin yuuzhan. Ferroans carondian
            givin shi'ido amidala luke alderaan offee grievous. Han zev wicket kenobi skywalker.
        </p>
=======
        <p>PIERCE PIERCE PEIRCE PERICEEPRICCEPIERWPI FQSHAGJLAERJG</p>
>>>>>>> JDuck

        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>

    <div class="col s2">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <div class="card-image">
                    <a href="https://github.com/Duck126">

                        <img height="250" src="../assets/images/duck.jpg" alt="Pic of Jon's Lame Face">
                        <span class="card-title">Jon</span>
                    </a>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light btn modal-trigger" href="#modaljon">Info</a>

                </div>
            </div>
        </div>
    </div>

<div id="modaljon" class="modal">
    <div class="modal-content">
<<<<<<< HEAD
        <p>
            Lucas ipsum dolor sit amet sio darpa veers dagobah latter tono
            logray wessell kitonak rahn. Needa naberrie porkins cabasshite.
            Biggs r4-p17 fel moff fel dexter finis. Organa tyranus leia doldur kit.
            Maarek mygeeto skywalker salacious. Aayla bossk -1b moff falleen md-5.
            Cb-99 cb-99 ebe bothan talortai. Bith typho kalee leia nagai hutt carnor. 
            Skywalker mygeeto teneniel skywalker dorvalla paploo massans. Cb-99 raynar 
            panaka raynar senesca polis ferroans deliah elrood. Calamari panaka kaminoan
            nass senex gotal moff nautolan.

            Mara ruurian vilim kathol dormé ahsoka. Aurra skywalker davin arcona. -lom nelvaanian 
            juvex caamasi ahsoka daala ric. Firmus sebulba biggs bith bith shimrra ikrit ponda.
            Bajic warrick haako max cody fosh moore. Joh frozian asajj fosh cato. Miraluka anakin
            fey'lya drall cade kor-uj nomi malastare jerjerrod. Voxyn glymphid ysanne shaak hutt 
            vurk. Cadavine bria ackbar sebulba besalisk cassio feeorin yuuzhan. Ferroans carondian
            givin shi'ido amidala luke alderaan offee grievous. Han zev wicket kenobi skywalker.
        </p>
=======
        <p>Duck126Duck126Duck126Duck126Duck126Duck126Duck126Duck126Duck126</p>
>>>>>>> JDuck

        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>

    <div class="col s2">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <div class="card-image">
                    <a href="https://github.com/GuyCPalmer">
                        <img height="250"  src="../assets/images/guy.png" alt="Pic of Guy's Lame Face">
                        <span class="card-title">Guy</span>
                    </a>
                </div>      
                <div class="card-action">        
                    <a class="waves-effect waves-light btn modal-trigger" href="#modalguy">Info</a>

                </div>
            </div>
        </div>
    </div>

<div id="modalguy" class="modal">
    <div class="modal-content">
<<<<<<< HEAD
        <p>
            Lucas ipsum dolor sit amet sio darpa veers dagobah latter tono
            logray wessell kitonak rahn. Needa naberrie porkins cabasshite.
            Biggs r4-p17 fel moff fel dexter finis. Organa tyranus leia doldur kit.
            Maarek mygeeto skywalker salacious. Aayla bossk -1b moff falleen md-5.
            Cb-99 cb-99 ebe bothan talortai. Bith typho kalee leia nagai hutt carnor. 
            Skywalker mygeeto teneniel skywalker dorvalla paploo massans. Cb-99 raynar 
            panaka raynar senesca polis ferroans deliah elrood. Calamari panaka kaminoan
            nass senex gotal moff nautolan.

            Mara ruurian vilim kathol dormé ahsoka. Aurra skywalker davin arcona. -lom nelvaanian 
            juvex caamasi ahsoka daala ric. Firmus sebulba biggs bith bith shimrra ikrit ponda.
            Bajic warrick haako max cody fosh moore. Joh frozian asajj fosh cato. Miraluka anakin
            fey'lya drall cade kor-uj nomi malastare jerjerrod. Voxyn glymphid ysanne shaak hutt 
            vurk. Cadavine bria ackbar sebulba besalisk cassio feeorin yuuzhan. Ferroans carondian
            givin shi'ido amidala luke alderaan offee grievous. Han zev wicket kenobi skywalker.
        </p>
=======
        <p>guyguyguyguyguyguyguyguyguyguy</p>
>>>>>>> JDuck

        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>


    <div class="col s2">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <div class="card-image">
                    <a href="https://github.com/jwrenpenn">

                        <img height="250" src="../assets/images/jwp.jpg" alt="Pic of Jenn's Lame Face">
                        <span class="card-title">Jenn</span>
                    </a>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light btn modal-trigger" href="#modaljenn">Info</a>
                </div>
            </div>
        </div>
    </div>

<div id="modaljenn" class="modal">
    <div class="modal-content">
<<<<<<< HEAD
        <p>
            Lucas ipsum dolor sit amet sio darpa veers dagobah latter tono
            logray wessell kitonak rahn. Needa naberrie porkins cabasshite.
            Biggs r4-p17 fel moff fel dexter finis. Organa tyranus leia doldur kit.
            Maarek mygeeto skywalker salacious. Aayla bossk -1b moff falleen md-5.
            Cb-99 cb-99 ebe bothan talortai. Bith typho kalee leia nagai hutt carnor. 
            Skywalker mygeeto teneniel skywalker dorvalla paploo massans. Cb-99 raynar 
            panaka raynar senesca polis ferroans deliah elrood. Calamari panaka kaminoan
            nass senex gotal moff nautolan.

            Mara ruurian vilim kathol dormé ahsoka. Aurra skywalker davin arcona. -lom nelvaanian 
            juvex caamasi ahsoka daala ric. Firmus sebulba biggs bith bith shimrra ikrit ponda.
            Bajic warrick haako max cody fosh moore. Joh frozian asajj fosh cato. Miraluka anakin
            fey'lya drall cade kor-uj nomi malastare jerjerrod. Voxyn glymphid ysanne shaak hutt 
            vurk. Cadavine bria ackbar sebulba besalisk cassio feeorin yuuzhan. Ferroans carondian
            givin shi'ido amidala luke alderaan offee grievous. Han zev wicket kenobi skywalker.
        </p>
=======
        <p>jwrenpennjwrenpennjwrenpennjwrenpennjwrenpennjwrenpenn</p>
>>>>>>> JDuck
  
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>

    <div class="col s2">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <div class="card-image">
                    <a href="https://github.com/nofunjohnny">

                        <img height="250" src="../assets/images/noFun.jpg" alt="Pic of Johnnys's Lame Face">
                        <span class="card-title">Johnny</span>
                    </a>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light btn modal-trigger" href="#modalnofun">Info</a>

                </div>
            </div>
        </div>
    </div>

<div id="modalnofun" class="modal">
    <div class="modal-content">
<<<<<<< HEAD
        <p>
            Lucas ipsum dolor sit amet sio darpa veers dagobah latter tono
            logray wessell kitonak rahn. Needa naberrie porkins cabasshite.
            Biggs r4-p17 fel moff fel dexter finis. Organa tyranus leia doldur kit.
            Maarek mygeeto skywalker salacious. Aayla bossk -1b moff falleen md-5.
            Cb-99 cb-99 ebe bothan talortai. Bith typho kalee leia nagai hutt carnor. 
            Skywalker mygeeto teneniel skywalker dorvalla paploo massans. Cb-99 raynar 
            panaka raynar senesca polis ferroans deliah elrood. Calamari panaka kaminoan
            nass senex gotal moff nautolan.

            Mara ruurian vilim kathol dormé ahsoka. Aurra skywalker davin arcona. -lom nelvaanian 
            juvex caamasi ahsoka daala ric. Firmus sebulba biggs bith bith shimrra ikrit ponda.
            Bajic warrick haako max cody fosh moore. Joh frozian asajj fosh cato. Miraluka anakin
            fey'lya drall cade kor-uj nomi malastare jerjerrod. Voxyn glymphid ysanne shaak hutt 
            vurk. Cadavine bria ackbar sebulba besalisk cassio feeorin yuuzhan. Ferroans carondian
            givin shi'ido amidala luke alderaan offee grievous. Han zev wicket kenobi skywalker.
        </p>
=======
        <p>noFunnoFunnoFunnoFunnoFunnoFunnoFunnoFunnoFunnoFunnoFun</p>
>>>>>>> JDuck
    
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>

    <div class="col s1"></div>

</div>

<script>
    $(document).ready(function(){
        $('#modalpierce').modal();
        $('#modaljon').modal();
        $('#modalguy').modal();
        $('#modaljenn').modal();
        $('#modalnofun').modal();
    });
        
</script>
