
<link rel="stylesheet" href="../assets/css/main.css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<div class="profile-usertitle">
				    <img src="https://image.ibb.co/czMky8/templogo.png" class="img-circle" width="150px">
					    <div class="profile-usertitle-name">
					      Avion Tequila
					    </div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
				<button type="button" class="btn btn-success btn-sm">Follow</button>
        <button type="button" class="btn btn-danger btn-sm"><a href="mailto: staffd@gmail.com">Message</a></button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
					<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Home </a> 
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-user"></i>
							My Account  </a>
						</li>
						<li>
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-edit"></i>
							Account Setting </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-ok"></i>
							Menu</a>
						</li>
							<li>
							<a href="#">
							<i class="glyphicon glyphicon-flag"></i>
							Contact </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
		   <div class="col-sm-6">
                  <div class="profile-content">
										<img id="models"> 
                    <img src="https://image.ibb.co/hqb6ao/talent.png" height="" width="98%">
                    <p>View our Promo Models</p>
			            </div>
       </div>
        <div class="col-sm-6">
                  <div class="profile-content">
                    <img src="https://image.ibb.co/hSQcgT/security.png" height="" width="98%">
                    <p>View our Security</p>
			        
			    </div>
            </div>
            <div class="col-sm-6">
                 <div class="profile-content">
                   <img src="https://image.ibb.co/m9n188/bartender.png" height="" width="98%">
                   <p>View Our Bartenders</p>  
			    </div>
            </div>
            <div class="col-sm-6">
                 <div class="profile-content">
									 <img id="server">
                   <img src="https://image.ibb.co/i3qcgT/server.png" height="" width="98%">
                   <p>View Our Servers</p>  
			    </div>
            </div>
            <div class="col-sm-6">
              <div class="profile-content">
                <img id="event">
                  <img src="https://image.ibb.co/c5tmao/book.png" height="" width="98%">
                  <p>Book your event today</p>
             </div>
			    </div>
            
		</div>
	</div>
	</div>

