
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
  

    <title></title>

    <nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="container-fluid" id="myNavbar">
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="../home">Home</a>
				</li>
				<li>
					<a href="../contact">Contact</a>
				</li>
			</ul>
			
		</div>
	</div>
</nav>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="public/assets/css/style.css" rel="stylesheet">

  
  </head>

  <body>

    
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="https://image.ibb.co/ivT2Ao/talent.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4></h4>
              <span class="text-muted">View Promo Models</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="https://image.ibb.co/c0kSbT/security.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4></h4>
              <span class="text-muted">View Security</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="https://image.ibb.co/d8Rpqo/bartender.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4></h4>
              <span class="text-muted">View Bartenders</span>
            </div>
           
          </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>


          