<link rel="stylesheet" type="text/css" src="public/assets/css/style.css" />
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="rating.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<div class="container text-center">
    <h1>Talent</h1>
  </div>

  <div class="container">
        <div class="col-sm-4">
    <div class="span3 well">
        <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="https://image.ibb.co/mSw20c/IMG_4138.jpg" name="aboutme" width="140" height="140" class="img-circle"></a>
        <h3>Guy Palmer</h3>
         <div class="star-rating">
        <span class="fa fa-star-o" data-rating="1"></span>
        <span class="fa fa-star-o" data-rating="2"></span>
        <span class="fa fa-star-o" data-rating="3"></span>
        <span class="fa fa-star-o" data-rating="4"></span>
        <span class="fa fa-star-o" data-rating="5"></span>
        <input type="hidden" name="whatever1" class="rating-value" value="">
                    </div>
        <em>View My Profile</em>
		</center>  
    </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About Guy</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="https://image.ibb.co/mSw20c/IMG_4138.jpg" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">Guy Palmer <small>Austin, TX</small></h3>
                    <div class="rating">
                        <div class="col-lg-12">
      <div class="star-rating">
        <span class="fa fa-star-o" data-rating="1"></span>
        <span class="fa fa-star-o" data-rating="2"></span>
        <span class="fa fa-star-o" data-rating="3"></span>
        <span class="fa fa-star-o" data-rating="4"></span>
        <span class="fa fa-star-o" data-rating="5"></span>
        <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                    </div>


                    <span><strong>Hire me as: </strong></span>
                        <span class="label label-warning">Bartender</span>
                        <span class="label label-info">Promo Model</span>
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about Guy</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>


<ul>

    {{#each talent}} {{>talent-li/talent-util}} {{/each}}

</ul>


<div class="footer">
    <footer>
        <p class="text-center">&#64; Copyright 2018 StaffD</p>
    </footer>
</div>
</div>


<script src="../assets/js/rating.js" type="text/javascript"></script>