<div class="slider">
    <ul class="slides">
        <li>
            <img src="https://picsum.photos/200/300/?gravity=east">
            <!-- random image -->
            <div class="caption center-align">
                <h3>StaffD</h3>
                <h5 class="light grey-text text-lighten-3"></h5>
            </div>
        </li>
        <li>
            <img src="https://picsum.photos/200/300/?gravity=east">
            <!-- random image -->
            <div class="caption left-align">
                <h3>Left Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3"></h5>
            </div>
        </li>
        <li>
            <img src="https://picsum.photos/200/300/?gravity=east">
            <!-- random image -->
            <div class="caption right-align">
                <h3>Right Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
    </ul>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
