<h1>Company Profile</h1>

<div class="media">
  <img class="mr-3" src="https://loremflickr.com/200/200" alt="Generic placeholder image">
  <div class="media-body">
    <h4 class="mt-0">User Name</h4>
    User Info
  </div>
</div>
