<<<<<<< HEAD
<<<<<<< HEAD
=======
<h1>Company Profile</h1>

<div class="media">
  <img class="mr-3" src="https://loremflickr.com/200/200" alt="Generic placeholder image">
  <div class="media-body">
    <h4 class="mt-0">User Name</h4>
    User Info
  </div>
</div>
>>>>>>> e3ed2fd254c45b1449f104ffea8e5d9b896aa744
=======
>>>>>>> 26ffd8fd000f11c64b91e841ed70c78618e45dbb
