<div class="container">
    <div class="well well-sm">
        <strong>Display</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>
    <div id="products" class="row list-group">
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="https://image.ibb.co/bwC188/calendar.png" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        New Event</h4>
                    <p class="group inner list-group-item-text">
                       </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="https://image.ibb.co/bwC188/calendar.png">Get Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="https://image.ibb.co/bwC188/calendar.png" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        New Event</h4>
                    <p class="group inner list-group-item-text">
                        </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="">Get Info</a>
                        </div>
                    </div>
                </div>
            </div>
<<<<<<< HEAD
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="https://image.ibb.co/bwC188/calendar.png" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        New Event</h4>
                    <p class="group inner list-group-item-text">
                      </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                </p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="">Get Info</a>
                        </div>
                    </div>
                </div>
=======
              <div class="modal-body">

              <p>Type of Event:</p>
                <input type="text" id="task-title" style="width: 100%">
                
              <p>Date of Event:</p>
                <input type="date" id="task-date" style="width: 100%">
            
                <p>Start Time:</p>
                  <input type="text" id="task-start" style="width: 100%">

              <p>End Time:</p>
                  <input type="text" id="task-end" style="width: 100%">

              <p>Location:</p>
                  <input type="text" id="task-Location" style="width: 100%">
              

              <p>Location Specialist:</p>
                  <input type="text" id="task-Specialist" style="width: 100%">
            

              <p>Location Contact:</p>
                  <input type="text" id="task-Contact" style="width: 100%">

>>>>>>> 9931a0042c450be580e98e21ea6a4ffd49948061
            </div>

          </div>

        </div>
    </div>
</div>
