<h3>
    Signup New User
</h3>

<div class="container">
    <div class="row">

        {{!-- separator --}}
        <div class="col-2"></div>

        <div id="firebaseui-auth-container"></div>

        {{!-- separator --}} {{!-- separator --}}
        <div class="col-2"></div>

    </div>
</div>