<<<<<<< HEAD
<h1 class="center-align">My Main Page</h1>

<div class="container">

  <div class="row">

    {{!-- this is the users face n stuff --}}
    <div class="col s5">
      <div class="card">
        <h5 class="center-align">
          Profile Picture
        </h5>
        <div class="card-image">
          <img src="../assets/images/pierce.jpg" alt="Pic of your Lame Face">
        </div>
      </div>
    </div>

    <div class="col s7">
      <div class="card">
        <h3 class="center-align">
          Your Events
        </h3>
        {{#each Events}}
        {{/each}}
      </div>
    </div>

  </div> 

  <div class="row">

=======

<div class="container">
  <h2>{{user.talentName}}</h2>
  <div class="media">
    <img class="mr-3" src="../assets/images/profile.jpg" alt="Generic placeholder image">
    <div class="media-body">
      <h4 class="mt-0">{{user.email}}</h4>
      <p>{{user.bio}}</p>
    </div>
>>>>>>> 1a593a8cc58a9918db13c6322f83be692bd5d602
  </div>

</div>

<script src="../assets/js/eventList.js"  type="text/javascript" ></script>
<script src="../assets/js/eventList.js"  type="text/javascript" ></script>
