<h1>Main page for the Talent</h1>

<div class="container">

<div class="row">

  {{!-- this is the users face n stuff --}}
  <div class="col s3"></div>
  <div class="col s9"></div>

</div> 

<div class="row">
  
</div>

</div>