
<div class="container">
  <h2>{{user.talentName}}</h2>
  <div class="media">
    <img class="mr-3" src="../assets/images/profile.jpg" alt="Generic placeholder image">
    <div class="media-body">
      <h4 class="mt-0">{{user.email}}</h4>
      <p>{{user.bio}}</p>
    </div>
  </div>

</div>

<script src="../assets/js/eventList.js"  type="text/javascript" ></script>