<h1>My Main Page</h1>

<div class="container">

  <div class="row">

    {{!-- this is the users face n stuff --}}
    <div class="col s5">
      <div class="card">
        <h5 class="center-align">
          Profile Picture
        </h5>
        <div class="card-image">
          <img src="../assets/images/pierce.jpg" alt="Pic of your Lame Face">
        </div>
      </div>
    </div>

    <div class="col s7">
      <div class="card">
        <h3 class="center-align">
          Your Events
        </h3>
        {{#each Events}}
        {{/each}}
      </div>
    </div>

  </div> 

  <div class="row">

  </div>

</div>

<<<<<<< HEAD
<script src="../assets/js/eventList.js"  type="text/javascript" ></script>
=======
<script src="../assets/js/eventList.js"  type="text/javascript" ></script>
>>>>>>> 4ca86c8ccc45c4eae8ae52c52e687835722fbf64
