  /* Remove the navbar's default rounded borders and increase the bottom margin */ 
  .navbar {
    margin-bottom: 50px;
    border-radius: 0;
    background-color:black;
  }
  
 body {
    background-image: url(https://image.ibb.co/hydbBH/concrete_texture.png);
    height: 100%;
 }

 ul.talent {
  list-style-type: none;
}

li.talent {
  height: 0;
  color:#9d1de7;
}
  /* Add a gray background color and some padding to the footer */
  footer {
    position: fixed;
    height: 45px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    text-align: center;
    background-color: #9d1de7;
    padding: 25px;
    border-top: solid 1px black;
  }

  .slider {
    margin-top: -4%;
  }

  .slider .indicators {
      z-index: 2;
      bottom: 12.5%;
  }

  .slider .indicators .indicator-item.active {
      background-color: #9d1de7;
      bottom: 10%;
  }

  .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
      color: white;
  }
  
  .btn-flat {
      font-weight: bold;
      background-color: #9d1de7;
      z-index: 0;
  }


  .card.horizontal {
    margin-bottom: 5%;
    width: 46.25%;
    margin-left: 2.5%;
    display: inline-flex;
    position: relative;
  }

  #alpha {
    margin-left: 8%;
    width: 110%;
  }

  #beta {
    width: 110%;
    margin-left: 8%;    
  }

  .row {
    padding-bottom: 10%;
  }
  .job {
    display: inline;
    margin: 5px 5px 10px 10px;
  }

  .userForm {
    background-color: black;
    opacity: .75; 
    margin-bottom: 15%;
    border-radius: 5px;
  }

  [type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #9d1de7;
    background-color: #9d1de7;
  }

.btn{
  background-color: #9d1de7;
}

h2 {
  color: #9d1de7;
  text-align: center;
  background-color: black;
  opacity: .75;
  border-radius: 5px;
}

h3, h5 {
color: white;
text-shadow: 1px 1px 1px black;
}

.col .row {
  margin-left: 0px;
  margin-right: 0px;

}

.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

div .row .bio {
  border-style: solid;
  border-color: #9e9e9e;
  border-width: 2px;
  padding-left: 4px;
  border-radius: 3px;
}

input[type=text].valid:not(.browser-default){
  border-bottom-color: #9d1de7;
}

.profileImage {
  border-style: solid;
  border-radius: 5px;
  border-color: white;
  border-width: 2px;
}

.modal-content {
  width: 50%;
  position: absolute;
  left: 25%;
  top: 20%;
}
/*Dashboard*/
/* Profile container */
.profile {
  margin: 10px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
  box-shadow:1px 1px 10px rgba(0,0,0,0.3)
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-top:5px;
  margin-bottom: 7px;
}


.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 15px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}
a:link {
  color: white;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #b65bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #b65bd1;
  background-color: #f6f9fb;

  margin-left: px;
}

.profile-content{box-shadow:1px 1px 10px rgba(0,0,0,0.3);}
/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 200px;
  margin-bottom:30px;
}

p {
  text-align: center;
}

form {
  color: white;
  
}