  /* Remove the navbar's default rounded borders and increase the bottom margin */ 
  .navbar {
    margin-bottom: 50px;
    border-radius: 0;
    background-color:black;
  }
  
 body {
    background-image: url(https://image.ibb.co/hydbBH/concrete_texture.png);
    height: 100%;
 }

 ul.talent {
  list-style-type: none;
}

li.talent {
  height: 0;
  color:#9d1de7;
}
  /* Add a gray background color and some padding to the footer */
  footer {
    position: fixed;
    height: 45px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    text-align: center;
    background-color: #9d1de7;
    padding: 25px;
    border-top: solid 1px black;
  }

  .slider {
    margin-top: -5.5%;
  }

  .slider .indicators {
      z-index: 2;
      bottom: 12.5%;
  }

  .slider .indicators .indicator-item.active {
      background-color: #9d1de7;
      bottom: 10%;
  }

  .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
      color: white;
  }
  
  .btn-flat {
      font-weight: bold;
      background-color: #9d1de7;
      z-index: 0;
  }


  .card.horizontal {
    margin-bottom: 5%;
    width: 46.25%;
    margin-left: 2.5%;
    display: inline-flex;
    
  }
  

