  /* Remove the navbar's default rounded borders and increase the bottom margin */ 
  .navbar {
    margin-bottom: 50px;
    border-radius: 0;
    background-color: black
  }
  
 body {
    background-image: url(https://image.ibb.co/hydbBH/concrete_texture.png);
 }

 ul {
   list-style-type: none;
 }

 li {
   height: 0;
   color:#9d1de7;
 }
  /* Add a gray background color and some padding to the footer */
footer {
    position: relative;
    height: 45px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    text-align: center;
    background-color: #9d1de7;
    padding: 25px;
    border-top: solid 1px black;
  }

  div.span3.well {
    display: inline-block;
  }

/* star rating CSS*/
  .star-rating {
    line-height:32px;
    font-size:1.25em;
  }
  
  .star-rating .fa-star{color: yellow;}

#rating {
  text-align: center;
  perspective: 250px;
  position: absolute;
  top: 40%;
  width: 100%;
}
 
#rating span {
  cursor: pointer;
  font-size: 50px;
  padding: 0 10px;
  color: #fff;
  opacity: .5;
  transition: all 150ms;
  display: inline-block;
  transform: rotateX(45deg);
  transform-origin: center bottom;
}
 
#rating span.hover {
  color: #ff0;
  opacity: 1;
  transform: rotateX(0deg);
  text-shadow: 0 0 30px #ffc;
}

/*calendar*/
#header {
  text-align: center;
  vertical-align: middle;
}

#cal_days {
  width: 100%;
  display: table;
  border: 1px solid #dddddd;
  border-radius: 3px;
  text-align: center;
}


.cal_days {
  display: table-cell;
  width: 14.28%;
  padding: 5px;
}

#cal_dates {
  width: 100%;
  display: table;
}


.cal_dates {
  display: table-cell;
  width: 14.28%;
  float: left;
  height: 40px;
  text-align: right;
  padding: 10px;
}

.cal_dates:hover {
  background-color: #dddddd;
  cursor: pointer;
}

.disable-span, .disable-span:hover {
  color: #bbbbbb; 
}

input {
  margin: 10px 0px 10px 0px;
}
  
.has-task {
  background-color:lightgrey;
}

.btn-primary {
  background-color:#9d1de7;
}

.btn-danger {
  color: white;
}